@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white text-gray-700; /* Základní styly těla z Tailwindu */
}

.hero-bg {
  background-size: cover;
  background-position: center;
  @apply bg-gradient-to-br from-green-500 to-emerald-600 text-white;
}

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.flat-card-hover:hover {
  background-color: #f9fafb;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  @apply bg-white;
}
